<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <h1>Some error occured!</h1>
        <p>We're working onn fixing this, sorry for the inconvenuence!</p>
    </main>

<%- include('includes/end.ejs') %>